<a href="https://colab.research.google.com/github/Frayeur/HW/blob/master/5%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05장 연습문제


**Q1**

---

클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자.

In [0]:
class Calculator:
  def _init_(self):
    self.value = 0
    
  def add(self, val):
     self.value += val

**A**1

---
다음과 같이 Calculator 클래스를 상속하는 UpgradeCalculator 클래스를 만들고 minus 메서드를 추가한다.



---

In [0]:
class UpgradeCalculator(Calculator):
  def minus(self, val):
    self.value -= val

In [0]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)  #10에서 7을 뺀 3을 출력

In [25]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print (cal.value)

3

**Q2**


---

객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 

---

Calculator 클래스를 상속하고 add 메서드를 오버라이딩하여 다음과 같은 클래스를 만든다.

In [0]:
class MaxLimitCalculator(Calculator):
  def add(self, val):
    self.value += val
    if self.value >100:
      self.value = 100

In [31]:
cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

**Q3**

---

다음 결과를 예측해 보자.

---

하나.

In [33]:
>>> all([1, 2, abs(-3)-3])

False

abs(-3)은 -3의 절댓값이므로 3이 되어 all([1,2,0])이 되고, 리스트의 요솟값중 0이 있기 때문에 all 내장 함수의 결과는 False가 된다.

---

둘.

In [35]:
>>> chr(ord('a')) == 'a'

True

ord('a') 의 결과는 97이 되어 chr(97)로 치환된다. chr(97)의 결과는 다시 'a'가 되므로 'a' == 'a'가 되어 True를 돌려준다.

---

**Q4**

---

filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

---

음수를 제거하기위한 filter의 함수로서 lambda함수를 만들어 실행한다.

In [37]:
list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

**Q5**

---

'0xea' 라는 16진수 문자열을 10진수로 변경해 보자.

---

init 내장함수를 아래와 같이 실행해본다.

In [38]:
int('0xea', 16)

234

**Q6**

---

map과 lambda를 사용하여 [1, 2, 3, 4] 라는 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

---

입력에 항상 3을 곱하여 돌려 주는 lambda 함수를 만들고 map과 조합하여 실행한다.

In [40]:
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

**Q7**

---

다음 리스트의 최댓값과 최솟값의 합을 구해 보자.

---

리스트의 최댓값은 max, 최솟값은 min 내장 함수를 사용하여 구한다.

In [41]:
a = [-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)

-1

**Q8**

---

5.666666666666667을 소수점 4자리까지만 반올림하여 표시해 보자.

---

round 내장 함수를 사용하면 반올림하여 소수점 4자리까지 표시할 수 있다.

In [42]:
round(17/3, 4)

5.6667

**Q9**

---

다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트(C:\doit\myargv.py)를 작성해 보자.

---

 sys모듈의 argv를 사용하여 명령 행 입력값 모두를 차례로 더한다.

In [56]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import sys
sys.path.append("/content/gdrive/My Drive")

In [0]:
import sys

numbers = sys.argv[1:] 

result = 0
for number in numbers:
    result += int(number)
print(result)

**Q10**

---

os 모듈을 사용하여 코드를 작성해 보자.

---

os 모듈의 chdir을 사용하여 c:\doit이라는 디렉터리로 이동한다.

In [76]:
import os
os.chdir("c:/doit")

FileNotFoundError: ignored

In [0]:
result = os.popen("dir")

In [78]:
 print(result.read())
...
abc.txt
bidusource.html
...

gd  gdrive  sample_data  untitled

NameError: ignored

**Q11**

---

glob 모듈을 사용하여 C:\doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

---

In [81]:
import glob
glob.glob("c:/doit/*.py")

[]

**Q12**

---

random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자.

---

In [84]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)  
    if num not in result:
        result.append(num)

print(result)

[25, 19, 42, 3, 2, 44]